.tornament-table {
    table {
        border-collapse: collapse;
        width: 100%;

        thead {
            th {
                padding: 8px;
                text-align: left;
                border-bottom: 2px solid #ddd;
            }

            .place-col {
                width: 5%;
            }

            .name-col {
                width: 20%;
            }

            .city-col {
                width: 20%;
            }

            .car-col {
                width: 20%;
            }

            .points-col {
                width: 10%;
            }

            .sortable {
                cursor: pointer;
            }
        }

        tbody {
            tr {
                &:nth-child(even) {
                    background-color: #f2f2f2;
                }

                td {
                    padding: 8px;
                    text-align: left;
                    border-bottom: 1px solid #ddd;
                }
            }
        }
    }
    //     .sort-by-asc {
    //         left: 3px;
    //         display: inline-block;
    //         width: 0;
    //         height: 0;
    //         border: solid 5px transparent;
    //         margin: 4px 4px 0 3px;
    //         background: transparent;
    //         border-bottom: solid 7px #f80;
    //         border-top-width: 0;
    //     }

    //     .sort-by-desc {
    //         left: 5px;
    //         display: inline-block;
    //         width: 0;
    //         height: 0;
    //         border: solid 5px transparent;
    //         margin: 4px 4px 0 3px;
    //         background: transparent;
    //         border-top: solid 7px #f80;
    //         border-bottom-width: 0;
    //     }
}
